# comment

.direnv/
.venv/
Dockerfile*
.env*
.editorconfig
.git
.github
.cache

local/
.dvc/
data/
var
vendor
job.nomad
.gitlab-ci.yml
tests/
bin/
etc/

**/node_modules/
**/bower_components/
npm/
.bower/
dist/
.sass-cache/

scripts/
docker/
docker-compose/data/*
megalinter-reports/
*/target*

hooks/
docs/
*.md
!README.md

*.tmp/*
.settings/
__pycache__/
.vscode/
.idea/
.pytest_cache/
.coverage
