!.eslintrc.js
.direnv/*
.venv/*
__tests__/*
test/*
docs/*

# Gruntfile*.js
netsniff.js
rasterize.js
app/scripts/test/*

report/*
node_modules/*
bower_components/*
megalinter-reports/*
target/*
dist/*
bin/*
