;loglevel=verbose
cache=.node_cache
tmp=.node_tmp
registry=http://registry.npmjs.org/
#phantomjs_cdnurl=http://nabla/download/phantomjs
#slimerjs_cdnurl=http://nabla/download/slimerjs
strict-ssl=false
chromedriver_version=2.47
//registry.npmjs.org/:_authToken=112466a4-3791-4a3f-94f4-646fe2c3f770
;@sindresorhus:registry=https://registry.npmjs.org/
