cache = .node_cache
tmp = .node_tmp
#registry = http://nabla.freeboxos.fr:8081/nexus/content/npm/registry.npmjs.org/
#registry = http://localhost:8081/nexus/content/repositories/registry.npmjs.org/
#phantomjs_cdnurl = http://nabla.freeboxos.fr:7072/download/phantomjs
strict-ssl = false
