;loglevel=verbose
cache=.node_cache
tmp=.node_tmp
registry=https://registry.npmjs.org/
strict-ssl=true
# chromedriver_version=2.47
# chromedriver_version=LATEST
detect_chromedriver_version=true
# chromedriver_cdnurl=https://npmmirror.com/metadata
# chromedriver_cdnbinariesurl=https://npmmirror.com/binaries
;//registry.npmjs.org/:_authToken=112466a4-3791-4a3f-94f4-646fe2c3f770
;@sindresorhus:registry=https://registry.npmjs.org/
