[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible-core = "~=2.13.11"
cryptography = "~=41.0.6"

[dev-packages]
ansible-lint = {extras = ["yamllint"], version = ">=6.13.1"}
ansible-navigator = ">=1.1.0"
ansible-runner = ">=2.2.1"
ansible-builder = ">=1.1.0"
ansible-playbook-grapher = ">=1.1.0"
black = {version = "~=23.7.0", extras = ["d"]}
checkov = ">=2.3.115"
semgrep = ">=1.15.0"
#pipenv = ">=2023.7.23"
pre-commit = "~=2.20.0"
pre-commit-hooks = "~=4.4.0"

[requires]
python_version = "3.8"
