<div class="container">

  <br/>

  <div class="text-center">

    <div class="clearfix">
      <div class="pull-right">
        <span class="glyphicon glyphicon-gift"></span>
        {{ aaBirthday | date:'mediumDate' }}
      </div>
    </div>

    <div class="jumbotron">
      <!--<h2>Papapou</h2>-->

      <p class="lead">
        <img ng-src="images/no-filerev/papapou-{{locale}}.png?v={{VERSION_TAG}}" style="height:200px" alt="{{'views.main.I\'m Papapou' | translate}}"><br>
        {{"views.about.My name is..." | translate}}
      </p>

      <p>
        {{"views.about.ILY" | translate}}
      </p>

      <p>
        {{"views.about.I'm waiting for you..." | translate}}
      </p>

      <p>
        {{"views.about.Please call me..." | translate}}
      </p>
    </div>
  </div>

  <div class="image">
    <div class="row text-center">
      <img src="images/gravatar.png"/>
    </div>
  </div>

  <div class="view-contacts">
    <ul class="list-group">
      <li class="list-group-item">
        <a class="fa fa-linkedin-square" href="http://www.linkedin.com/in/gospodarets">
          {{"views.contacts.Follow me on" | translate}}
          LinkedIn
        </a>
        <div class="row text-center">
			<script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
			<script type="IN/MemberProfile" data-id="https://www.linkedin.com/in/nabla" data-format="inline"></script>
		</div>
      </li>
      <li class="list-group-item">
        <a class="fa fa-xing-square" href="https://www.xing.com/profile/Alban_Andrieu">
          {{"views.contacts.Follow me on" | translate}}
          Xing
        </a>
        <table align="center">
			<tr>
				<td>
					<!--  Start of XING Events Widget Code -->
					<style type="text/css">
					#xew {
					border-color: #E4E4E4 #8B9BA1 #8B9BA1 #E4E4E4;
					border-style: solid;
					border-width: 1px;
					background: url("https://www.xing.com/img/widgets/gradient_event.png") repeat-x;
					font-family: Arial, Helvetica, sans-serif;
					font-size: 13px;
					margin: 0;
					overflow: hidden;
					padding: 10px 10px 5px 10px;
					width: 230px;
					}
					#xew h3,
					#xew h4,
					#xew p,
					#xew ul {
					margin: 0;
					padding: 0;
					}
					#xew h3 {
					padding-top: 7px;
					}
					#xew h3 a {
					color: #006666;
					text-decoration: none;
					}
					#xew ul {
					/*    height: 1%; */
					list-style-type: none;
					overflow: hidden;
					}
					#xew ul li {
					margin: 0;
					}
					#xew li {
					list-style-type: none;
					}
					#xew .fl {
					float: left;
					}
					#xew  .fr {
					float: right;
					}
					#xew .profil-summary {
					padding-top: 15px;
					}
					#xew .profil-name {
					line-height: 18px;
					overflow: hidden;
					padding-left: 5px;
					white-space: nowrap;
					}
					#xew img {
					display: block;
					border: none;
					overflow: hidden;
					}
					#xew #events-listing {
					background-color: #fff;
					border: 1px solid #ccc;
					font-size: 11px;
					margin-top: 10px;
					padding: 6px 10px;
					}
					#xew #events-listing li:last-child {
					border-bottom: none;
					}
					#xew #events-listing li {
					border-bottom: 1px solid #ccc;
					overflow: hidden;
					white-space: nowrap;
					}
					#xew .one-event {
					display: block;
					}
					#xew .one-event h4,
					#xew .one-event span {
					line-height: 16px;
					}
					#xew .one-event .status-img {
					float: left;
					margin: 3px 4px 0 0;
					}
					#xew #payoff-line {
					margin-top: 5px;
					text-align: right;
					}
					#xew a {
					color: #303030;
					text-decoration: none;
					}
					#xew a:hover {
					text-decoration: underline;
					}
					#xew h3 a:hover {
					text-decoration: none;
					}
					#xew #payoff-line a {
					color: #006666;
					}
					#xew .dtstart,
					#xew .locality a {
					color: #818181;
					}
					</style>
					<!--[if IE 6]>
					<style type="text/css">
					#xew,
					#xew h4{
					font-size: 13px;
					}
					#xew ul {
					height: 1%;
					}
					#xew .profil-name {
					height: 1%;
					width: 175px;
					}
					#xew #events-listing {
					padding: 6px 0px;
					width: 220px;
					}
					#xew .one-event {
					padding: 0 6px;
					width: 220px;
					}
					#xew .one-event h4 a {
					font-size: 11px;
					}
					</style>
					<![endif]-->
					<div id="xew" class="vcalendar">
					<ul>
					<li class="fl">
					<h3><a href="https://www.xing.com/de/events">Événements XING</a></h3>
					</li>
					<li class="fr">
					<a href="https://www.xing.com"><img alt="Réseau professionnel" title="Réseau professionnel" height="23" src="https://www.xing.com/img/widgets/logo_xing.png" width="57" /></a>
					</li>
					</ul>
					<a href="https://www.xing.com/profile/Alban_Andrieu/">
					<ul class="profil-summary">
					<li class="fl"><img src="https://x1.xingassets.com/image/6_3_2_2f27a43ae_16493276_1/alban-andrieu-foto.30x40.jpg" width="30" height="40" alt="Photo de l'utilisateur Alban Andrieu"></li>
					<li>
					<h4 class="profil-name">Alban Andrieu</h4>
					<p class="profil-name">Événements sur XING</p>
					</li>
					</ul>
					</a>
					<script id="widget_scr" src="https://www.xing.com/widgets/attending_events/16493276_e6159e.js?limit=3"></script>
					<p id="payoff-line"><a href="https://www.xing.com/de/events">&raquo; Tous les événements</a></p>
					</div>
					<!--  End of XING Events Widget Code -->
				</td>
			</tr>
		</table>
      </li>
      <li class="list-group-item">
        <a class="fa fa-github-square" href="https://github.com/AlbanAndrieu">
          {{"views.Fork me on" | translate}}
          Github
        </a>
        <div class="row text-center">
			<div class="github-card" data-github="AlbanAndrieu" data-width="400" data-height="" data-theme="default"></div>
			<script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>
   		</div>
      </li>
      <li class="list-group-item">
        <a class="fa fa-twitter-square" href="https://twitter.com/AlbanAndrieu">
          {{"views.contacts.Follow me on" | translate}}
          Twitter
        </a>
        <table align="center">
			<tr>
				<td>
					<a class="twitter-timeline" data-dnt="true" href="https://twitter.com/AlbanAndrieu" data-widget-id="634842169350729728" width="300" height="300">Tweets de @AlbanAndrieu</a>
					<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
				</td>
			</tr>
		</table>
      </li>
      <li class="list-group-item">
        <a class="fa fa-google-plus-square" href="https://plus.google.com/u/0/+AlbanAndrieu">
          {{"views.contacts.Follow me on" | translate}}
          Google+
        </a>
        <div class="row text-center">
			<!-- Place this tag where you want the widget to render. -->
			<div class="g-person" data-width="293" data-href="//plus.google.com/u/0/116934367210692548408" data-rel="author"></div>

			<!-- Place this tag after the last widget tag. -->
			<script type="text/javascript">
			(function() {
				var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
				po.src = 'https://apis.google.com/js/platform.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
			})();
			</script>
		</div>
      </li>
      <li class="list-group-item">
        <a class="fa fa-facebook-official" href="https://www.facebook.com/alban.andrieu">
          {{"views.contacts.Follow me on" | translate}}
          Facebook
        </a>
      </li>
      <li class="list-group-item">
        <a class="fa fa-instagram" href="https://www.instagram.com/alban.andrieu/">
          {{"views.contacts.Follow me on" | translate}}
          Instagram
        </a>
        <table align="center">
			<tr>
				<td>
					<style>.ig-b- { display: inline-block; }
					.ig-b- img { visibility: hidden; }
					.ig-b-:hover { background-position: 0 -60px; } .ig-b-:active { background-position: 0 -120px; }
					.ig-b-24 { width: 24px; height: 24px; background: url(//badges.instagram.com/static/images/ig-badge-sprite-24.png) no-repeat 0 0; }
					@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
					.ig-b-24 { background-image: url(//badges.instagram.com/static/images/ig-badge-sprite-24@2x.png); background-size: 60px 178px; } }</style>
					<a href="https://www.instagram.com/alban.andrieu/?ref=badge" class="ig-b- ig-b-24"><img src="//badges.instagram.com/static/images/ig-badge-24.png" alt="Instagram" /></a>
				</td>
			</tr>
		</table>

      </li>
      <li class="list-group-item">
        <a class="fa fa fa-skype" href="https://www.facebook.com/alban.andrieu">
          {{"views.contacts.Follow me on" | translate}}
          Skype
        </a>
      </li>
      <li class="list-group-item">
		<a class="fa fa-envelope" href="mailto:alban.andrieu@free.fr?Subject=Nabla%20website" target="_top">
		  {{"views.contacts.Mail me" | translate}}
		</a>
      </li>
      <li class="list-group-item">
		<a class="fa fa-phone" target="_top">
		  {{"views.contacts.Call me" | translate}} +33 6 95 43 53 53
		</a>
      </li>
      <li class="list-group-item">
        <a class="fa fa-map-marker" href="https://www.facebook.com/alban.andrieu">
          {{"views.contacts.Find me" | translate}}
        </a>
        <div class="row text-center">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2622.580533921005!2d2.2825235000000017!3d48.9043308!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66f7dbe862451%3A0xdfea0dc844805762!2s10+Rue+du+Chemin+Vert%2C+92600+Asni%C3%A8res-sur-Seine!5e0!3m2!1sen!2sfr!4v1440190868717" width="300" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
		</div>
      </li>
    </ul>
  </div>

</div>
